.contentContainer {
  width: 700px;
  margin: 0 auto 5rem;
}
.post {
  h1 {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    color: var(--heading);
  }
  p {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    text-align: justify;

  }

  &+.post {
    margin-top: 3rem;
  }

  &:first-child {
    margin-top: 4rem;
  }
}

.loadButton {
  margin-top: 4rem;
  background-color: transparent;
  border: 0px;
  color: var(--highlight);
  font-size: 1.125rem;
  font-weight: 600;
}
